.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  & > a {
    text-decoration: none;
    color: #fff;
    padding: 20px;

    &.active {
      color: #639;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
